<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>workFor4_14.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18FDAF031CBF2598003A5252</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18FDAF1C1CBF2598003A5252</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18FDAF271CBF2598003A5252</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
